<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Race</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item style="display: inline-block;">
    <ion-label>Please Choose A Race:</ion-label>
    <ion-select  (ionChange)="setRaceContent(sRace)" [(ngModel)]="sRace">
      <ion-option [value]="sRace" *ngFor = "let sRace of races"> {{sRace.name}} </ion-option>
    </ion-select>
  </ion-item>

  <ion-list *ngIf="selectContents">
    <ion-item *ngFor="let content of selectContents">
      <div>{{content.content}}</div>
    </ion-item>
  </ion-list>

   
</ion-content>
<ion-footer>
<div class="toAttr"><button class="nButton" ion-button (click)="Attributes();">Choose Attributes</button></div>
<div class="toMain"><button class="lButton" ion-button (click)="MainPage();">Main Page</button></div>
</ion-footer>

